<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.HumanResourceMapper">

    <select id="search" parameterType="java.lang.String" resultType="com.system.entity.HumanResource">
        SELECT id,pswd,`name`,enterpriseId,enterpriseName,department,phone,email FROM humanResource WHERE id=#{id}
    </select>

    <insert id="insert" parameterType="HumanResource">
        INSERT INTO humanResource(id,pswd,`name`,enterpriseId,phone) VALUES (#{id},#{pswd},#{name},#{enterpriseId},#{phone})
    </insert>

    <update id="update" parameterType="HumanResource">
        UPDATE humanResource SET pswd=#{pswd}, `name`=#{name}, department=#{department}, phone=#{phone}, email=#{email}
    </update>
</mapper>