<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.PositionMapper">

    <select id="getPositionInfo" parameterType="java.lang.Long" resultType="com.system.entity.PositionInfo">
        select * from positionInfo where id=#{positionId}
    </select>

    <select id="search" resultType="PositionInfo">
        select id, `position`, enterpriseId, title, salary, hrId, degree, views from positionInfo
        where
            (#{keyword} is null or match(content) against(#{keyword})) and
            (#{degree} is null or degree=#{degree}) and
            (#{position} is null or `position`=#{position})
    </select>
    <select id="findFromEnterprise" parameterType="java.lang.Long" resultType="com.system.entity.PositionDetail">
        select id,`position`,title,salary,degree,views from positionInfo
        where enterpriseId=#{enterpriseId}
    </select>

    <select id="recommend" resultType="PositionInfo">
        select id, `position`, enterpriseId, title, salary, hrId, degree, views from positionInfo
        where #{position} is null or`position`=#{position}
        order by views desc
        limit #{count}
    </select>

    <insert id="postPosition" parameterType="com.system.entity.PositionInfo">
        insert into positionInfo(enterpriseId,hrId,`position`,title,content,salary,degree)
        values(#{enterpriseId},#{hrId},#{position},#{title},#{content},#{salary},#{degree})
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updatePosition" parameterType="com.system.entity.PositionInfo">
        update positionInfo
        set  position=#{position},title=#{title},content=#{content},salary=#{salary},degree=#{degree},views=0
        where id = #{id}
    </update>

    <update id="updateView" parameterType="java.lang.Long">
        UPDATE positionInfo SET views = views + 1 WHERE id = #{id}
    </update>
</mapper>