<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.TalkMapper">

    <select id="getTalk" resultType="com.system.entity.Talk">
        select * from talk where `from` = #{from} or `to` = #{to}
    </select>

    <select id="getTalker" resultType="com.system.entity.Talk">
        select * from talk where `from`=#{id} or `to` = #{id};
    </select>

    <insert id="insertHistoryTalk" parameterType="com.system.entity.Talk">
        insert into talk(`from`,`to`,message) values(#{from},#{to},#{message})
    </insert>

    <insert id="insertHistoryTalks" parameterType="java.util.List">
        insert into talk(`from`,`to`,message,time)
        values
        <foreach collection="talks" index="index" item="talk" separator="," open="(" close=")">
                #{talk.from},
                #{talk.to},
                #{talk.message},
                #{talk.time}
        </foreach>
    </insert>
    
    <insert id="insertUnsentTalk" parameterType="com.system.entity.Talk">
        insert into unsentTalk(`from`,`to`,message) values(#{from},#{to},#{message})
    </insert>
    
    <select id="selectUnsentTalk" resultType="com.system.entity.Talk">
        select * from unsentTalk where `to` = #{to} and `from` = #{from}
    </select>

    <select id="selectUnsentId" resultType="String">
        select distinct `from` from unsentTalk where `to` = #{to}
    </select>

    <delete id="deleteUnsentTalk">
        delete from unsentTalk where `to` = #{to}
    </delete>
</mapper>