<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.UserInfoMapper">

    <select id="search" parameterType="java.lang.String" resultType="com.system.entity.UserInfo">
        SELECT id,pswd,`name`,IDNO,phone,email,age,interest FROM userInfo WHERE id=#{id}
    </select>

    <insert id="insert" parameterType="com.system.entity.UserInfo">
        INSERT INTO userInfo(id,pswd,`name`,IDNO,phone) VALUES (#{id},#{pswd},#{name},#{IDNO},#{phone})
    </insert>

    <update id="update" parameterType="com.system.entity.UserInfo">
        UPDATE userInfo SET `name`=#{name}, IDNO=#{IDNO}, phone=#{phone}, email=#{email}, age=#{age}, interest=#{interest}
        WHERE id = #{id}
    </update>

    <select id="searchResume" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT resume FROM userInfo WHERE id = #{id}
    </select>

    <update id="updateResume" parameterType="com.system.entity.UserInfo">
        UPDATE userInfo SET resume = #{resume} WHERE id = #{id}
    </update>
</mapper>